//Grid

//Container
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }

$breakpointSM: 576px;
$breakpointMD: 768px;
$breakpointLG: 992px;
$breakpointXL: 1200px;

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.col {
  overflow: hidden;
  position: relative;
  float: left;
  padding: 0 15px;
}

$colsLength: 12;
@for $i from 1 to $colsLength + 1 {
  .col-#{$i},
  .col-sm-#{$i},
  .col-md-#{$i},
  .col-lg-#{$i},
  .col-xl-#{$i} {
    @extend .col;
    width: 100%;
  }
}

@media screen and (min-width: $breakpointSM) {
  @for $i from 1 to $colsLength + 1 {
    .col-sm-#{$i} {
      width: (($i / $colsLength) * 100%);
    }
  }
}
@media screen and (min-width: $breakpointMD) {
  @for $i from 1 to $colsLength + 1 {
    .col-md-#{$i} {
      width: (($i / $colsLength) * 100%);
    }
  }
}
@media screen and (min-width: $breakpointLG) {
  @for $i from 1 to $colsLength + 1 {
    .col-lg-#{$i} {
      width: (($i / $colsLength) * 100%);
    }
  }
}
@media screen and (min-width: $breakpointXL) {
  @for $i from 1 to $colsLength + 1 {
    .col-xl-#{$i} {
      width: (($i / $colsLength) * 100%);
    }
  }
}