/////HEADER

//Top_Header#
#top_header {
  width: 100%;
  padding: 15px 0 15px 0;
  background-color: #f7f7f7;
  //top_header
  .top_header {
    @include flex;
    @include justify-content(space-between);
    //&_info
    &_info {
      i {
        color: $three-color;
        margin-right: 30px;
        &:last-child {
          margin-right: 0;
        }
        span {
          padding-left: 8px;
        }
      }
    }
    //&_social
    &_social {
      ul {
        li {
          display: inline-block;;
          margin-right: 20px;
          &:last-child {
            margin-right: 0;
          }
          a {
            color: $three-color;
            @include transition(0.3s);
            &:hover {
              color: $secondary-color;
            }
          }
        }
      }
    }
  }
  //Notebook
  @include notebook {
    display: none;
  }
}

//Header#
#header {
  width: 100%;
  background-color: $base-color;
  @include transition(0.3s);
  position: sticky;
  top: 0;
  z-index: 2;
  //header-wrapper
  .header-wrapper {
    @include flex();
    @include justify-content(space-between);
    @include align-items(center);
    height: 60px;
    position: relative;
    //logo
    .logo {
      position: relative;
      z-index: 3;
      img {
        cursor: pointer;
      }
    }
    //menu
    .menu {
      >li {
        display: inline-block;
        position: relative;
        margin-right: 15px;
        &:last-child {
          margin-right: 0;
        }
        >a {
          color: $primary-color;
          @include weight(semi-bold);
          font-size: 16px;
          text-transform: uppercase;
          position: relative;
          &::before {
            position: absolute;
            width: 0;
            margin: -4px 0;
            @include transition(0.4s);
            content: "";
            background-color: $secondary-color;
            height: 4px;
            border-radius: 2px;
            left: 0;
            bottom: 0;
          }
          &:hover {
            color: $secondary-color;
            &::before {
              width: 100%;
            }
          }
        }
        ul {
          width: 200px;
          border-top: 3px solid $secondary-color;
          border-bottom: 3px solid $secondary-color;
          position: absolute;
          top: 34px;
          left: 0;
          z-index: 1;
          padding: 15px 0 15px 10px;
          background-color: $base-color;
          opacity: 0;
          visibility: hidden;
          @include transition(0.4s);
          li {
            display: block;
            padding-bottom: 15px;
            &:last-child {
              padding-bottom: 0;
            }
            a {
              color: $primary-color;
              @include weight(bold);
              font-size: $size;
              text-transform: uppercase;
              position: relative;
              &::before {
                position: absolute;
                width: 0;
                margin: -3px 0;
                @include transition(0.4s);
                content: "";
                background-color: $secondary-color;
                height: 3px;
                border-radius: 2px;
                left: 0;
                bottom: 0;
              }
              &:hover {
                color: $secondary-color;
                &::before {
                  width: 100%;
                }
              }
            }
          }
        }
        &:hover {
          ul {
            opacity: 1;
            visibility: visible;
          }
        }
        .active {
          position: relative;
          &::before {
            position: absolute;
            width: 0;
            margin: -5px 0;
            @include transition(0.4s);
            content: "";
            background-color: $secondary-color;
            height: 4px;
            border-radius: 2px;
            left: 0;
            bottom: 0;
          }
        }
        .active, a.active {
          &::before {
            width: 100%;
          }
        }
      }
    }
    //hamburger
    .hamburger {
      display: none;
      position: fixed;
      top: 15px;
      right: 15px;
      cursor: pointer;
      z-index: 999;
      i {
        color: $secondary-color;
        font-size: 30px;
        cursor: pointer;
        @include transition(0.4s);
      }
    }
    //Notebook
    @include notebook {
      .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: $base-color;
        z-index: 2;
        text-align: center;
        @include flex();
        @include flex-direction(column);
        @include justify-content(center);
        @include scale(0);
        opacity: 0;
        transition: opacity 650ms;
        li {
          display: block;
          margin-right: 0;
          padding-bottom: 30px;
          &:last-child {
            padding-bottom: 0;
          }
          a {
            font-size: 16px;
            @include weight(bold);
            color: $three-color;
            &::before {
              background-color: $secondary-color;
            }
          }
          ul {
            width: 100%;
            top: 30px;
            padding: 20px 0;
            li {
              padding-bottom: 15px;
              &:last-child {
                padding-bottom: 0;
              }
              a {font-size: 12px; line-height: normal;}
            }
          }
        }
      }
      .menu.open {
        opacity: 1;
        @include scale(1);
      }
      .hamburger {
        display: block;
        .fa-times {display: none;}
        .fa-times.open {display: block;}
        .fa-bars.open {display: none;}
      }
    }
  }
}

#header.fixed {
  @include box-shadow2(0px, 3px, 10px, 0px, rgba(0,0,0,0.36));
}