/////PROJECTS

//Projects_Page#
#projects_page {
    width: 100%;
    padding: 65px 0;
    background: linear-gradient( rgba(20, 20, 20, .7), rgba(20, 20, 20, .7)), url("https://via.placeholder.com/1920x200");
    background-position: center;
    @include bg-size(cover);
    //&_text
    .text {
      h6 {
        color: $base-color;
        font-size: 35px;
        text-transform: uppercase;
        @include weight(black);
        letter-spacing: 1px;
        line-height: 20px;
      }
      ul {
        padding-top: 25px;
        li {
          display: inline-block;
          margin-right: 6px;
          a {
            color: $base-color;
            text-transform: capitalize;
            @include weight(regular);
            font-size: $size;
            span {
              padding-left: 6px;
            }
          }
        }
      }
      //Tablet
      @include tablet {
        text-align: center;
        h6 {font-size: 25px}
        ul {
          padding-top: 20px;
        }
      }
      //X-Tablet
      @include x-tablet {
        h6 {font-size: 18px}
        ul {
          padding-top: 15px;
        }
      }
      //Mobil
      @include mobil {
        h6 {font-size: $size}
        ul {
          li {
            display: block;
            margin: 0 0 6px 0;
            &:last-child {
              margin: 0 0 0 0;
            }
            a {
              font-size: 12px;
              span {padding-left: 4px}
            }
          }
        }
      }
    }
}

//Our_Projects#
#our_projects {
  width: 100%;
  padding: 70px 0 40px 0;
  //our_projects_tab
  .our_projects_tab {
    //tab-list
    .tab-list {
      text-align: center;
      li {
        display: inline-block;
        margin-right: 40px;
        &:last-child {
          margin-right: 0;
        }
        a {
          text-transform: capitalize;
          font-size: 18px;
          @include weight(regular);
          color: $primary-color;
        }
        &.aktif {
          a {color: $secondary-color}
        }
      }
      //Tablet
      @include tablet {
        li {
          margin-right: 15px;
          a {
            font-size: $size;
          }
        }
      }
      //Mobil
      @include mobil {
        li {
          display: block;
          margin: 0 0 7px 0;
          &:last-child {
            margin: 0 0 0 0;
          }
          a {
            font-size: 12px;
          }
        }
      }
    }
    //tab-content
    .tab-content {
      padding-top: 50px;
      //&_item
      &_item {
        text-align: center;
        margin-bottom: 30px;
        img {width: 100%;}
        h6 {
          padding-top: 15px;
          line-height: normal;
          a {
            @include weight(bold);
            font-size: 20px;
            color: $primary-color;
            letter-spacing: 0.3px;
          }
        }
        p {
          padding-top: 10px;
          font-size: $size;
          color: $three-color;
          line-height: 20px;
          letter-spacing: 0.3px;
        }
        .read-more {
          margin-top: 15px;
          display: inline-block;
          color: $secondary-color;
          @include weight(bold);
          font-size: $size;
          letter-spacing: 0.3px;
          line-height: normal;
        }
      }
      //X-Tablet
      @include x-tablet {
        &_item {
          h6 {
            a {font-size: 17px;}
          }
        }
      }
      //Mobil
      @include mobil {
        padding-top: 40px;
        &_item {
          h6 {
            padding-top: 10px;
            line-height: 16px;
            a {font-size: $size;}
          }
          p {font-size: 12px; line-height: 16px; padding-top: 8px;}
          .read-more {
            font-size: 12px;
          }
        }
      }
    }
  }
}